# Sales Analysis Report

This notebook presents an analysis of a simulated online boardgame store database corresponding to the month of october 2025, using SQL queries.
The goal is to extract meaningful business insights related to sales, customers, and payments.

## Dataset Description

The database simulates an online store and contains the following tables:

- Customers
- Products
- Categories
- Orders
- Order Items
- Payments

The data was created manually for learning and portfolio purposes.

## Analysis Scope

The analysis focuses on:
- Sales performance
- Customer behavior
- Revenue distribution by city
- Payment method usage

## Business Question 1
Which cities generate the highest revenue?

SELECT c.city, SUM(oi.quantity * oi.price) AS total_revenue
FROM customers c
JOIN orders o ON c.id = o.customer_id
JOIN order_items oi ON o.id = oi.order_id
GROUP BY c.city
ORDER BY total_revenue DESC;

La Paz and Cochabamba generate the highest revenue, suggesting a higher concentration
of active customers or higher average order values in these cities.

## Business Question 2
Who are the top customers by total spending?

SELECT c.full_name, SUM(oi.quantity * oi.price) AS total_spent
FROM customers c
JOIN orders o ON c.id = o.customer_id
JOIN order_items oi ON o.id = oi.order_id
GROUP BY c.name
ORDER BY total_spent DESC
LIMIT 5;

With more than a half of the clients spending above 1500, the top customers are not far from the rest.

## Business Question 3
What payment methods are most frequently used?

SELECT payment_method, COUNT(*) AS total_transactions
FROM payments
GROUP BY payment_method
ORDER BY total_transactions DESC;

Debit card is the main payment method.

## Final Conclusions

- Revenue is concentrated in a few key cities, mainly Cochabamba.
- There is no big difference between the top 5 clients and the rest.
- Debit card is the prefered payment method.
- SQL queries combined with structured analysis allow for actionable business insights.